

<div class="col-md-3"></div>
<h2>User info</h2>
<% books.each do |book| %>
<%= book.user.image %>
<%= book.user.name %>


<%= form_with model: @book do |f| %>
 <div class="field">
  <%= f.label :Title %>
  <%= f.text_field :title %>
  </div>

  <div class="field">
  <%= f.label :Opinion %>
  <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit 'Create Book', class:"btn btn-lg btn-block btn-info mt-4" %>
  </div>

<% end %>
