<h1>Books#show</h1>
     <div class="col-md-3">
        <%= render 'list', book: @book, user: @user %>
     </div>

 <table>
    <tbody>
      <h2>Book datail</h2>

        <tr>
          <td><%= @books.title %></td>
          <td><%= @books.body %></td>
          <% if @books.user = current_user %>
          <td><%= link_to 'Edit', edit_user_path(@books.id) %></td>
          <td><%= link_to 'Destroy', book_path(@books.id), method: :delete, "data-confirm" => "Are you sure？" %></td>
        </tr>
          <% end %>

    </tbody>
 </table>

